@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/web/opensanslight.woff") format("woff"),
       url("../fonts/web/opensanslight.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/web/opensans.woff") format("woff"),
       url("../fonts/web/opensans.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/web/gilroylight.woff") format("woff"),
      url("../fonts/web/gilroylight.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("../fonts/web/gilroyextrabold.woff") format("woff"),
      url("../fonts/web/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  width: 1160px;

  background-color: #F7E397;
}

.site-navigation,
.user-navigation,
.index-sub-menu {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.index-sub-menu a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.index-sub-menu a:hover,
.index-sub-menu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active,
.user-navigation a:active,
.index-sub-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-field {
  width: 320px;
  padding-left: 35px;
  padding-bottom: 11px;

  color: rgba(0, 0, 0, 0.3);

  border: none;
  border-bottom: 2px solid #000000;
  background-color: #F7E397;
}

.search-btn {
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #F7E397;

  border: 2px solid #000000;
}

.promo-slide h3 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
}

.promo-slide p {
  color: #464646;
}

.main-button {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.slider-item-parameters th {
  color: #464646;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.slider-item-parameters td {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px
  text-align: left;
}
