@font-face {
  font-family: "Open Sans";
  src: url("../fonts/web/opensanslight.woff2") format("woff2"),
  url("../fonts/web/opensanslight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/web/opensans.woff2") format("woff2"),
  url("../fonts/web/opensans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroylight.woff2") format("woff2"),
  url("../fonts/web/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/web/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

button {
  background: transparent;
  border: none;
}

iframe {
  display: block;
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.inner-container h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 60px;
  letter-spacing: 0.5px;
}

.inner-container h2 {
  margin:0;
  padding: 22px 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.4px;
  text-transform: uppercase;
}

.inner-row1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #dcdcdc), color-stop(50%, #ebebeb));
  background-image: -webkit-linear-gradient(left, #dcdcdc 50%, #ebebeb 50%);
  background-image: -o-linear-gradient(left, #dcdcdc 50%, #ebebeb 50%);
  background-image: linear-gradient(to right, #dcdcdc 50%, #ebebeb 50%);;
}

.inner-row2 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ebebeb), color-stop(50%, #ffffff));
  background-image: -webkit-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
  background-image: -o-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
  background-image: linear-gradient(to right, #ebebeb 50%, #ffffff 50%);;
}

.inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.inner-col1 {
  width: 270px;
  padding-left: 60px;
}

.inner-row1 .inner-col1 {
  background-color: #dcdcdc;
}

.inner-row2 .inner-col1 {
  background-color: #ebebeb;
}

.inner-col2 {
  width: 760px;
  padding-left: 70px;
}

.inner-row1 .inner-col2 {
  background-color: #ebebeb;
}

.inner-row2 .inner-col2 {
  background-color: #ffffff;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1040px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;

  background-color: #F7E397;
}

.inner-header {
  margin-bottom: 10px;
}

.main-header-logo {
  position: relative;
  top: -18px;
}

.main-navigation {
  margin: 0;
  padding: 0;
  width: 100%;
}

.site-navigation,
.user-navigation,
.index-sub-menu {
  list-style: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  padding-bottom: 160px;
}

.inner-header .site-navigation {
  padding-bottom: 45px;
}

.site-navigation li {
  text-transform: uppercase;
}

.site-navigation a,
.user-navigation a,
.index-sub-menu a {
  color: #000000;
}

.site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.site-navigation > li {
  margin-left: 35px;
}

.site-navigation > li:first-child {
  margin-left: 0;
  margin-right: auto;
  padding-right: 32px;
}

.site-navigation > li:last-child {
  margin-left: 105px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  width: 500px;
  letter-spacing: 0.15px;
}

.index-sub-menu li {
  text-transform: none;
}

.index-sub-menu a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.index-sub-menu a:hover,
.index-sub-menu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active,
.user-navigation a:active,
.index-sub-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.searching {
  position: relative;
  width: 440px;
  margin-right: auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.search-field {
  width: 280px;
  padding-bottom: 18px;
  padding-top: 5px;
  padding-left: 35px;
  margin-right: -5px;
  vertical-align: top;

  color: #000000;

  border: none;
  background-color: #F7E397;
}

.search-field:focus {
  border-bottom: 2px solid #000000;
}

.search-icon {
  font-size: 0;
}

.search-icon::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 16px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
}

.search-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-btn {
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #F7E397;

  border: 2px solid #000000;

  -webkit-transition: 0.2s;

  -o-transition: 0.2s;

  transition: 0.2s;
}

.search-field:focus + .search-btn {
  visibility: visible;
}

.search-btn:hover ,
.search-btn:focus{
  color: #ffffff;

  background-color: #000000;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.user-navigation li,
.footer-user-navigation li {
  margin-left: 40px;
}

.user-navigation li:first-of-type,
.footer-user-navigation li:first-of-type {
  margin-right: 20px;
  margin-left: 0;
  padding-left: 0;
}

.user-navigation li:nth-last-of-type(3),
.footer-user-navigation li:nth-last-of-type(3) {
  padding-left: 0;
  margin-left: 0;
  margin-right: auto;
}

.user-navigation .account-link,
.user-navigation .login-link,
.footer-user-navigation .account-link,
.footer-user-navigation .login-link {
  margin-left: 0;
  margin-right: 0;
}

.login-link,
.account-link,
.compare-btn,
.cart-btn {
  position: relative;
  /*padding-left: 25px;*/
}

.login-link svg,
.account-link svg {
  margin-right: 9px;
}

.compare-btn svg {
  margin-right: 8px;
}

.cart-btn svg {
  margin-right: 8px;
}

.open-item-list-btn {
  position: relative;
  padding-right: 32px;
}

.open-item-list-btn::before,
.open-item-list-btn::after{
  content: "";
  position: absolute;
  top: 14px;
  right: 5px;
  width: 16px;
  height: 2px;
  background-color: #b8a974;
}

.open-item-list-btn::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sub-menu-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1040px;
  min-height: 160px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: -60px;
  z-index: 2;

  background-color: #F7E397;
  opacity: 0;
}

.open-item-list-btn:hover .sub-menu-container,
.open-item-list-link:hover + .sub-menu-container,
.open-item-list-link:focus + .sub-menu-container,
.open-item-list-btn > a:hover + .sub-menu-container,
.open-item-list-btn > a:focus + .sub-menu-container{
  opacity: 1;
  pointer-events: auto;
}

.open-item-list-btn:focus-within .sub-menu-container {
  opacity: 1;
  pointer-events: auto;
}

.index-sub-menu {
  width: 200px;
  margin-right: 40px;
  padding: 0;
  padding-top: 25px;
  letter-spacing: 0.15px;
}

.main-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0c52e), to(#f0c52e));

  background-image: -webkit-linear-gradient(top, #f0c52e, #f0c52e);

  background-image: -o-linear-gradient(top, #f0c52e, #f0c52e);

  background-image: linear-gradient(to bottom, #f0c52e, #f0c52e);
  background-repeat: no-repeat;
  background-size: 100% 8px;
  background-position: center;

  -webkit-transition: 0.1s;

  -o-transition: 0.1s;

  transition: 0.1s;
}

.main-button:hover,
.main-button:focus {
  color: #000000;
  /*background-color: #f0c52e;*/
  /*background-image: none;*/
  background-size: 100% 100%;
}

.main-button:active {
  color: rgba(0, 0, 0, 0.3);
  /*background-color: #f0c52e;*/
  /*background-image: none;*/
  background-size: 100% 100%;
}

.promo-slider {
  position: relative;
  width: 1160px;
  top: -110px;
  margin-bottom: -110px;
  z-index: 1;
}

.promo-slider ol {
  padding: 0;
  margin: 0;
  position: relative;
  counter-reset: li;

  list-style: none;
}

.promo-slide h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
}

/* .promo-slider li:not(.slide-current) {
  display: none;
} */



.slider-controls {
  position: absolute;
  top: 325px;
  right: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 0;
}

.slider-info {
  position: relative;
}

.slider-info::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;

  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-info::after {
  position: absolute;
  top: -15px;
  right: -35px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: #ffffff;
}

/*.slide1 .slider-info::after {*/
/*content: "01";*/
/*}*/

.promo-slide::after {
  content: "0"counter(li);
  counter-increment: li;
  position: absolute;
  top: -15px;
  right: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  z-index: -1;
  color: #ffffff;

  opacity: 0;
}

.promo-slide.slide-current::after {
  opacity: 1;
}

/*.slide2 .slider-info::after {*/
/*content: "02";*/
/*}*/

/*.slide3 .slider-info::after {*/
/*content: "03";*/
/*}*/

.slider-btn {
  position: relative;
  display: block;
  margin-right: 20px;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border: 1px solid #000;
  border-radius: 50%;
  opacity: 0;
}

.slider-btn.slide-current::before {
  opacity: 1;
}

.promo-slide-bth {
  padding-left: 45px;
  padding-right: 40px;
}

.promo-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 0;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.promo-slide.slide-current {
  max-height: 506px;
  margin-bottom: 95px;
}

.promo-slide p {
  color: #464646;
  letter-spacing: 0.15px;
}

.slider-item-parameters th {
  padding-top: 5px;
  color: #464646;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.13px;
}

.slider-item-parameters td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  text-align: left;
  letter-spacing: 0.36px;
}

.slider-item-parameters th:nth-child(1),
.slider-item-parameters th:nth-child(3){
  width: 157px;
}

.slider-item-parameters th:nth-child(2) {
  width: 135px;
}

.promo-slide h3 {
  margin-top: 80px;
  margin-bottom: 17px;
}

.promo-slide p {
  margin-bottom: 50px;
}

.promo-slide table {
  margin-top: 50px;
  margin-left: -5px;
}

.slide1 .slider-img {
  margin-left: 90px;
  margin-right: 125px;
}

.slide1 h3 {
  width: 410px;
}

.slide1 p {
  width: 480px;
}

.slide2 .slider-img {
  margin-left: 90px;
  margin-top: 12px;
  margin-right: 140px;
}

.slide2 h3 {
  width: 260px;
}

.slide2 p {
  width: 460px;
}

.slide3 .slider-img {
  margin-left: 32px;
  margin-top: 10px;
  margin-right: 40px;
}

.slide3 h3 {
  width: 550px;
}

.slide3 p {
  width: 460px;
}

.popular-itemgroups-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 180px;
  padding: 0;

  list-style: none;
}

.popular-itemgroups-list li {
  width: 160px;
  margin-right: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.popular-itemgroups-list li:last-child {
  margin-right: 0;
}

.popular-itemgroups-link {
  display: block;
  position: relative;
  padding-top: 195px;
  color: #000000;
}

.popular-itemgroups-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #F7E397;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.popular-itemgroups-link:hover::before,
.popular-itemgroups-link:focus::before {
  background-color: #f0c52e;
}

.popular-itemgroups-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

.popular-1::after {
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.popular-2::after {
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.popular-3::after {
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.popular-4::after {
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.popular-5::after {
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.popular-6::after {
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.popular-1:active::after,
.popular-2:active::after,
.popular-3:active::after,
.popular-4:active::after,
.popular-5:active::after,
.popular-6:active::after{;
  opacity: 0.3;
}

.popular-itemgroups-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-button {
  width: 160px;
  margin-bottom: 20px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.services-current {
  width: 100%;
  color: #F7E397;
  background-color: #000000;
  background-image: none;
  padding-left: 20px;
  text-align: left;
}

.services {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #e5e5e5, #e5e5e5);
  background-image: -o-linear-gradient(top, #e5e5e5, #e5e5e5);
  background-image: linear-gradient(to bottom, #e5e5e5, #e5e5e5);
  background-repeat: no-repeat;
  background-size: 100% 290px;
  background-position: top;
  margin-bottom: 40px;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -100px;
  min-height: 320px;
}

.services-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 70px;
  margin-right: 120px;
  width: 280px;
}

.services-btns::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services-slides {
  width: 760px;
  padding-top: 73px;
}

.services-slides section:not(.serv-slide-current) {
  display: none;
}

.services-slide {
  position: relative;
}

.services-slide::after {
  content: "";
  position: absolute;
}

.services-delivery::after {
  right: 70px;
  top: 15px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.services-warranty::after {
  right: 50px;
  top: -10px;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.services-credit::after {
  right: 75px;
  top: -10px;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.services-slide h3 {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.services-slide p {
  width: 460px;
  margin-bottom: 75px;
  color: #464646;
  letter-spacing: 0.25px;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 85px;
}

.brands a {
  margin-right: 40px;
}

.brands a:last-child {
  margin-right: 0;
}

.brands-logo {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px; /* Width of new image */
  height: 100px; /* Height of new image */
  padding-left: 260px; /* Equal to width of new image */
}

.logo-1 {
  background: url("../img/logo-1-gray.jpg") no-repeat;
}

.logo-2 {
  background: url("../img/logo-2-gray.jpg") no-repeat;
}

.logo-3 {
  background: url("../img/logo-3-gray.jpg") no-repeat;
}

.logo-4 {
  background: url("../img/logo-4-gray.jpg") no-repeat;
}

.brands-logo:hover {
  padding-left: 0;
}

.informtion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 85px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: -50px;
  left: 0;
  background-color: #000000;
}

.about-us {
  position: relative;
  width: 460px;
}

.about-us h3,
.contacts h3{
  margin: 0;
  margin-bottom: 45px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.about-us p:first-of-type {
  letter-spacing: 0.1px;
}

.about-us p:last-of-type {
  letter-spacing: -0.2px;
}

.contacts p {
  letter-spacing: 0.05px;
}

.about-us p,
.contacts p{
  margin-bottom: 30px;
  color: #464646;
}

.about-us-btn {
  padding-left: 20px;
  padding-right: 20px;
}

.delivery-services-list {
  margin: 0;
  padding: 0;
  margin-top: 65px;
  list-style: none;
  margin-bottom: 60px;
}

.delivery-services-list li {
  position: relative;
  padding-left: 35px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
}

.delivery-services-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 4px;
  height: 4px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.contacts {
  position: relative;
  width: 560px;
}

.contacts-map {
  display: block;
  margin-bottom: 75px;
  padding-top: 8px;
}

.contacts-map img {
  display: block;
}

.feedback-btn {
  padding-left: 40px;
  padding-right: 40px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  margin-left: 60px;
  list-style: none;
}

.breadcrumbs li {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link {
  position: relative;
  padding-right: 40px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-link::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 5px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter {
  width: 205px;
  padding-top: 70px;
  margin-left: -5px;
}

.filter h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: #d9d9d9;
}

.filter fieldset {
  position: relative;
  padding: 0;
  padding-top: 67px;
  padding-bottom: 30px;

  border: none;
  border-top: 2px solid #000000;
}

.filter legend {
  position: absolute;
  top: 10px;
  left: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0.18px;
}

.price-bar {
  position: relative;
  margin-bottom: 10px;
  margin-left: 5px;
}

.price-range-bar-empty {
  position: absolute;
  width: 195px;
  height: 2px;
  background-color: #dbdbdb;
}

.price-range-bar-full {
  position: absolute;
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.price-start,
.price-end {
  position: absolute;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  /*width: 20px;*/
  /*height: 22px;*/
  /*background-image: url("../img/filter-price-button.png");*/
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.price-start:active,
.price-end:active {
  -webkit-transform: translate(-50%,-50%) scale(1.1);
  -ms-transform: translate(-50%,-50%) scale(1.1);
  transform: translate(-50%,-50%) scale(1.1);
}

.price-end {
  left: 110px;
}

.filter-price input {
  width: 65px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);

  background-color: #ebebeb;
  border: none;
}

.filter-price label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.2);
}

.filter ul {
  list-style: none;
  padding: 0;
}

.filter-color {
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

.filter-bluetooth {
  margin: 0;
  margin-top: -15px;
}

.filter-color label,
.filter-bluetooth label {
  position: relative;
  padding-left: 40px;
  padding-top: 5px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filter-color label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 19px;
  height: 19px;

  border: 2px solid #000000;
  border-radius: 2px;
}

.filter-bluetooth label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;

  border: 4px solid #000000;
  border-radius: 50%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"]:checked + label::before{
  border: none;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before {
  outline: 2px solid #9cbef5;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.filter-color label:hover,
.filter-color label:focus {

}

.filter-color .disabled,
.filter-bluetooth .disabled {
  color: #a6a6a6;
}

.filter .main-button {
  width: 100%;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ebebeb;
}

.sort h2 {
  margin-right: 52px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.sort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 0.25px;
}

.sort li {
  margin-right: 30px;
  padding-top: 25px;
  padding-bottom: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.sort-direction {
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  opacity: 0.3;
}

.sort-direction:first-of-type {
  width: 11px;
  height: 10px;
  background-image: url("../img/dir-arrow.png");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sort-direction:last-of-type {
  width: 11px;
  height: 10px;
  background-image: url("../img/dir-arrow.png");
  background-repeat: no-repeat;
}

.sort-direction.dir-current {
  opacity: 1;
}

.sort-direction:hover,
.sort-direction:focus{
  opacity: 0.6;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);
}

.sort a:hover,
.sort a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.sort .sort-current,
.sort .dir-current,
.sort a:active {
  color: #000000;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 70px;
}

.device {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 360px;
  margin-bottom: 45px;
}

.device-new::before {
  content: "NEW";
  position: absolute;
  top: 50px;
  right: 43px;
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.2;
}

.device-new::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 56px;
  height: 56px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.1;
}

.device-pic {
  margin-bottom: 30px;
}

.device h2 {
  width: 260px;
  padding: 0;
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-transform: none;
}

.device:hover .buy-compare,
.device:focus .buy-compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy-compare {
  display: none;
  position: absolute;
  /*display: flex;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 360px;
  height: 380px;

  background-color: #eeeeee;
  opacity: 0.7;
}

.buy-compare .main-button {
  margin-top: 175px;
  padding-left: 40px;
  padding-right: 40px;
}

.buy-compare .main-button:hover,
.buy-compare .main-button:focus {
  background-color: #f0c52e;
}

.buy-compare .main-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.add-to-compare-btn {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.add-to-compare-btn:hover,
.add-to-compare-btn:focus {
  color: #000000;
}

.add-to-compare-btn:active {
  color: rgba(0, 0, 0, 0.2);
}

.device-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.device-name a {
  color: #000000;
}

.device-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  width: 100px;
  text-align: right;
  letter-spacing: 0.2px;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 22px 30px;
  margin-bottom: 80px;
  margin-top: -5px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: #ebebeb;
}

.paginator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 120px;

  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style: none;
}

.paginator a {
  color: rgba(0, 0, 0, 0.3);
}

.paginator .back,
.paginator .active-page,
.paginator .forward {
  color: #000000;
}

.paginator .back:hover,
.paginator .back:focus,
.paginator .forward:hover,
.paginator .forward:focus {
  background-color: #d9d9d9;
}

.paginator .back:active,
.paginator .forward:active {
  color: rgba(0, 0, 0, 0.3);
}

.paginator .page:hover,
.paginator .page:focus{
  color: rgba(0, 0, 0, 0.6);
}

.paginator .page:active {
  color: #000000;
}

.main-footer {
  padding-top: 65px;
  padding-bottom: 30px;
  color: #ffffff;

  background-color: #464646;
}

.main-footer .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-footer-logo svg,
.footer-user-navigation svg {
  fill: #f0c52e;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 21px;
}

.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: -2px;
  letter-spacing: 0.15px;
}

.footer-user-navigation .logout-link {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation .logout-link:hover,
.footer-user-navigation .logout-link:focus {
  color: #ffffff;
}

.footer-user-navigation .logout-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.footer-user-navigation,
.footer-site-navigation {
  list-style: none;
}

.footer-address,
.footer-site-navigation,
.footer-phone {
  margin: 0;
  padding: 0;
}

.footer-address,
.footer-phone {
  width: 215px;
}

.footer-phone {
  text-align: right;
}

.footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 425px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 2px;
  margin-bottom: 25px;
}

.footer-site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus{
  color: rgba(255, 255, 255, 0.6);
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus{
  color: #ffffff;
}

.footer-user-navigation a:active,
.footer-site-navigation a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 27px;
}

.footer-social::before {
  content: "";
  position: absolute;
  left: -482px;
  top: 28px;
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 141px;
  padding: 0;
  list-style: none;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social-btn:hover,
.social-btn:focus {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.footer-copyright {
  width: 27px;
  padding-top: 13px;
}

.footer-copyright svg {
  fill: #f0c52e;
}

.footer-copyright:hover,
.footer-copyright:focus {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.modal-content-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border-radius: 50%;

  font-size: 1px;
  color: transparent;

  background-color: #F7E397;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.modal-content-close::before {
  -webkit-transform: translateX(50%) rotate(45deg);
  -ms-transform: translateX(50%) rotate(45deg);
  transform: translateX(50%) rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: translateX(50%) rotate(-45deg);
  -ms-transform: translateX(50%) rotate(-45deg);
  transform: translateX(50%) rotate(-45deg);
}

@-webkit-keyframes bounce {
  0% {
    margin-top: -2000px;
  }

  70% {
    margin-top: 30px;
  }

  90% {
    margin-top: -10px;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes bounce {
  0% {
    margin-top: -2000px;
  }

  70% {
    margin-top: 30px;
  }

  90% {
    margin-top: -10px;
  }

  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    margin-left: 0;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }

  20%,
  40%,
  60%,
  80% {
    margin-left: 10px;
  }
}

@keyframes shake {
  0%,
  100% {
    margin-left: 0;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }

  20%,
  40%,
  60%,
  80% {
    margin-left: 10px;
  }
}

.modal-content-feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 100;
  width: 960px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 95px;
  padding-bottom: 80px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.modal-content-feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-content-feedback label {
  width: 360px;
  margin-bottom: 10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.modal-content-feedback label:last-of-type {
  width: 100%;
}

.modal-content-feedback input,
.modal-content-feedback textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.modal-content-feedback textarea {
  width: 100%;
  margin-bottom: 32px;
}

.modal-content-feedback input {
  width: 360px;
  margin-bottom: 35px;
}

.modal-col {
  width: 360px;
}

.modal-content-feedback input {
  height: 50px;
  width: 336px;
  overflow: hidden;
}

.modal-content-feedback textarea {
  height: 122px;
  padding: 15px 20px;
}

.modal-content-feedback input,
.modal-content-feedback textarea {
  padding-left: 20px;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.modal-content-feedback input:hover,
.modal-content-feedback textarea:hover {
  background-color: #eaeaea;
}

.modal-content-feedback input:focus,
.modal-content-feedback input:active,
.modal-content-feedback textarea:focus,
.modal-content-feedback textarea:active{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;

  background-color: #ffffff;
  border: 2px solid #f0c52e;
}

.modal-content-feedback .main-button {
  padding-left: 35px;
  padding-right: 35px;
}

.index-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 100;
  width: 960px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

#map {
  width: 960px;
  height: 560px;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}
